.env
.env.*
!.env.example

vendor/
node_modules/
storage/
bootstrap/cache/*.php

apps/
ocr-service/
tests/
.phpunit.result.cache
.phpunit.cache/

python/__pycache__/
**/.venv/

.git/
.gitignore
Dockerfile
.dockerignore
